html 
  head 
    title Opret bil 
  body 
    h1 Opret ny bil 
    form(action="/addCar" method="post")
      input(type="text" name="brand" placeholder="Indtast Brand")
      br
      input(type="text" name="model" placeholder="Indtast Model")
      br
      input(type="submit" value="Opret bil")